* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    margin: 4vh;
    font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3%;
}

.conteiner-logo {
    justify-content: center;
    display: flex;
}

.logo {
    display: flex;
    justify-content: center;
    height: 180px;
    padding: 1px;
    width: 100%;
}

.logo-zoom {
    display: block;
    transition: transform 0.3s ease;
    max-width: 100%;
    height: auto;
}

.logo img:hover {
    transform: scale(1.2);
}

.categoria-menu {
    line-height: 1.5;
    list-style-type: none;
    text-transform: lowercase;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    text-align: inherit;
    color: #796384;
    flex-wrap: wrap;
    gap: 5px;
}


.menu-container {
    background-color: #e8ddef;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
}

.cart {
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}

svg {
    width: 30px;
    color: #796384;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

}

.icon-cart {
     position: relative;
     top: 70px;
} *

.text-favs {
    font-weight: bold;
    font-style: italic;
    color: #796384;

}

/* .icon-favs {
      position: relative; 
     
} * */
 
.favs {
    display: flex;
    justify-content: space-between;
    display: inline-block;
    padding: 10px;
}

header,
.favs {
    margin: 0 auto;
}

.icon-cart {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 10px;
    
}

.filtro {
    background-color: #927c9e;
    border-radius: 10px;
    color: white;
    width: 300px;
    text-align: center;

}

.name {
    background-color: #927c9e;
    border-radius: 8px;
    width: 100%;
    text-align: center;
}

.conteiner-perfil {
    background-color: #e8ddef;
    display: flex;
    justify-content: center;
    padding: 60px;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;

}

.muier {
    border-radius: 48%;
    padding: 1px;
    border: 2px solid transparent;
    background: linear-gradient(45deg,#b89dc6, #584066);
    margin-top: -50px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.muier-zoom {
    display: block;
    transition: transform 0.3s ease;
    max-width: 100%;
    height: auto;
}

.muier:hover {
    transform: scale(1.2);
}

.nome-muier {
    display: flex;
    align-items: center;
    color: white;
    font-size: 28px;
    margin-bottom: 3px;
}

.sair {
    background-color: white;
    border-radius: 8px;
    color: black;
    width: 60%;
    text-align: center;
    display: flex;
    align-items: center;

}

.saida {
    margin: 0;
    font-size: 24px;
}

.page-container {
    background-color: #e8ddef;
    border-radius: 20px;
    /* height: 600px; isso e ruim*/
    padding: 15px;
    width: 80%;
    margin: 21%;
    /* position: relative; */
    margin-top: -24%;
}


.page-categorias {
    width: 20%;
    height: 100%;
}

.filters-icon {
    color: white;
}

.exit-icon {
    color: black;
    margin-right: 8px;
    display: flex;
    vertical-align: middle;
    float: left;
}

.namesair {
    width: 100%;
    flex-direction: column;
    margin-top: -60px;
     position: relative; 
    left: -56px;

}

/* .container-dev-ras{
    width: 100%;
    text-align: center;
    
   
    
}

.rastrear{
    
}

.devolver{
    
    
}

.rastrear-devolver{
    
} */

